/** @format */
* {
  font-family: "Source Serif Pro", serif;
}

body {
  margin: 0rem auto;
  position: relative;
  max-width: 800px;
  width: 90%;

  font: 22px/32px body, sans-serif;
}

header {
  margin-top: 6rem;
}

h1,
h2 {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}
